<ion-header>
  <ion-toolbar>
    <ion-title>storage</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<!-- ionic storage was supposed to be demonstarted but I ran into complications which will be explained in the readme.txt file-->


<!-- navigation-->
  <!-- navigation-->
  <ion-button [routerLink]="['/weatherdata']">Click here if you want too search citys</ion-button>
  <ion-button [routerLink]="['/home']">Click here if you want too go too your coordinates</ion-button>
  <ion-button [routerLink]="['/storage']">Click here if you want too storage page</ion-button>
  <ion-button [routerLink]="['/capital-weather']">Click here if you want too go too dublins weather</ion-button>
</ion-content>
