<ion-header>
  <ion-toolbar>
    <ion-title>
        Ionic 4 Geolocation & Geocoder Examples
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">

    


<!-- the tags are for fore matting-->
  <ion-list>
    <ion-list-header>
      <ion-label>Your Location coordinates</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>
        Latitue
      </ion-label>
        <!-- taking latitude and longitude from data binding the resp too variables -->
     <ion-badge colour="danger" slot="end">  {{latitude}}</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>
        Longitude 
      </ion-label>
      <ion-badge colour="danger" slot="end"> {{longitude}}</ion-badge>
    </ion-item>
    </ion-list>    
  </div>
  <!-- navigation-->
  <ion-button [routerLink]="['/weatherdata']">Click here if you want too search citys</ion-button>
  <ion-button [routerLink]="['/home']">Click here if you want too go too your coordinates</ion-button>
  <ion-button [routerLink]="['/storage']">Click here if you want too storage page</ion-button>
  <ion-button [routerLink]="['/capital-weather']">Click here if you want too go too dublins weather</ion-button>
</ion-content>
